.wrapper{
    text-align: center;
    box-sizing: border-box;
    background-color: darkcyan;
}

.form{
    margin: auto;
    padding: 20px;
    width: 360px;
    height: 300px;
    background-color: wheat;
    border-radius: 2px;
    text-align: justify;

}

.text-box{
    border: 2px solid darkgray;
    width: 320px;
    margin: auto;
    background-color: lightblue;
    border-radius: 3px;
    margin-bottom: 20px;
    
}

input{
    margin-bottom: 3px;
    
    
}

.output{
    margin: auto;
    padding: 20px;
    width: 360px;
    height: 300px;
    background-color: wheat;
    border-radius: 2px;
    text-align: justify;
    margin-top: 20px;
}

h4{
    text-align: center;

}

