.wrapper{
    text-align: center;
    box-sizing: border-box;
    background-color: darkcyan;
    display: flex;
    justify-content: space-evenly;
}

.form{
    margin: auto;
    padding: 20px;
    width: 360px;
    
    background-color: wheat;
    border-radius: 2px;
    text-align: justify;

}

.text-box{
    border: 2px solid darkgray;
    width: 320px;
    margin: auto;
    background-color: lightblue;
    border-radius: 3px;
    
    
}

input{
    margin-bottom: 3px;
    
    
}



h4{
    text-align: center;

}

span{
    color: wheat;
}
p{
    text-align: justify;
}